body{
	font-family: "lora", sans-serif;
	margin: 0;
	padding: 0;
}

.header{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('header.jpg') ;
	background-repeat: no-repeat;
	height: 600px;
	background-size: cover;
	object-fit: cover;
	background-position: center;
	width: 100%;
	margin: auto;
	position: absolute;
}

nav{
	padding: 20px 20px 20px 20px;
}

nav ul li{
	margin: 0;
	padding:10px;
}

.inside{
	color: white;
	position: relative;
}

.inside li{
	font-size: 40px;
	list-style: none;
	left: 2px;
	top: 10px;

}

.header nav .menu{
	right: 0;
	padding-right: inherit;
	padding-top: 5px;
	position: absolute;
	top: 20px;
	transform: translateY(-50%);
	list-style: none;
}

.menu li{
	display: inline-block;

}

.menu li a{
	text-decoration: none;
	color: white;
}

ul .take_action{
	border: 1px solid white;
	border-radius: 100px;
	padding: 10px 15px;	
	transition: all 0.3s ease;
	list-style: none;
}

ul .take_action :hover{
	color: black;
	background-color: white;
	 
}

.between{
	color: white;
	text-align: center;
	position: absolute;
	margin: auto;
	top: 40%;
	left: 35%
}

div p{
	font-size: 40px;
}

div .background{
	border-radius: 100px;
	background-color: rgb(54, 179, 168);
	padding: 10px;
	cursor: pointer;

}

div .background :hover{
	opacity: 0.6;
}

div .background a{
	color: white;
	text-decoration: none;	
}
